.ONGinfo {
  background-color: #ca262c;
  padding: 20px;
  border-radius: 0 0 40px 40px;
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ONGinfo h1 {
  color: white;
}
.ONGinfo p {
  color: white;
}
.ONGlocal {
  padding: 0px 20px;
}
.ONGlocal p {
  font-weight: bold;
  border-bottom: solid #c6c6c6 2px;
}
.ONGlocal p span {
  font-weight: normal;
  color: black;
}

.solicitacao {
  background-color: hsla(39, 70%, 51%, 0.7);
  border-radius: 20px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.solicitacao .head {
  display: inline-flex;
  justify-content: space-between;
  max-height: 30px;
  width: 100%;
}
.solicitacao .head #info-detalhe {
  display: inline-flex;
  align-items: center;
  pointer-events: none;
}
.solicitacao .head #info-detalhe #info-icon {
  background-color: #ca262c;
  padding: 5px 12px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.solicitacao .head #info-detalhe #detalhes {
  color: black;
  margin-left: 2px;
  font-weight: bold;
}
.solicitacao p {
  color: black;
}
.solicitacao p span {
  font-weight: bolder;
}
/*      favorito         */

input[type='checkbox'] {
  opacity: 0;
}

input[type='checkbox'] {
  position: relative;
  padding-left: 35px;
  display: inline-block;
  font-size: 29px;
}
.heartContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  height: 0px;
}
#fav {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  bottom: 15px;
  color: #ca262c;
  background-color: white;
  border-radius: 30px;
  position: relative;
  top: 20px;
  right: 30px;
  align-self: flex-end;
  width: 50px;
  height: 50px;
  text-align: center;
  border: #ca262c 2px solid;
}
#fav:hover {
  background-color: #ca262c;
  color: white;
  border: white 2px solid;
}

input[type='checkbox'] + #fav:before {
  content: '\2661';
}
input[type='checkbox']:checked + #fav:before {
  content: '';
}
input[type='checkbox']:checked + #fav:after {
  content: '\2665';
}
